---
const { blok } = Astro.props;
---

<div class="container-main flex flex-col items-center pt-150 pb-75 lg:pb-125">
    <span
        class="text-tag-big mb-24 flex items-center justify-center rounded-[5rem] border-3 px-16 py-12 lg:mb-65 lg:px-24 lg:py-13"
    >
        {blok.subtitle}
    </span>
</div>
