---
import { useTranslations } from "../../i18n/utils";
import ArrowLink from "../atoms/ArrowLink.astro";
import Card from "./Card.astro";

const lang = Astro.currentLocale;
const t = useTranslations(lang);

const { language, items } = Astro.props;
---

<div class="container-main bg-pink py-100 text-black md:pt-125">
    <div class="flex items-end justify-between">
        <h3 class="text-title-1 px-gutter whitespace-pre-wrap"
            >{t("shop.other")}</h3
        >
        <div class="px-gutter mb-16 hidden flex-none md:block">
            <ArrowLink
                plus
                label={t("shop.all")}
                link={{ url: t("links.shop") }}
            />
        </div>
    </div>
    <div
        class="mt:items-start mt-48 flex flex-col gap-48 md:mt-72 md:flex-row md:gap-0"
    >
        {
            items.map((item) => (
                <div class="px-gutter md:w-6/12 xl:w-4/12">
                    <Card language={language} shopItem={item} />
                </div>
            ))
        }
    </div>
    <div class="px-gutter mt-40 md:hidden">
        <ArrowLink
            plus
            label={t("shop.all")}
            link={{ url: t("links.shop") }}
            className="md:hidden"
        />
    </div>
</div>
