---
import { storyblokEditable } from "@storyblok/astro";
import AssetsInline from "../AssetsInline.astro";
import AssetsSlider from "../AssetsSlider.astro";

const { language, blok } = Astro.props;
const hasLessThanFourVideos = blok.videos && blok.videos.length <= 4;
---

<div {...storyblokEditable(blok)}>
    {
        blok.intro && (
            <div class="container-main">
                <p
                    class={`px-gutter text-title-6 mx-auto mb-16 ${blok.more_spacing ? "lg:w-10/12" : ""}`}
                >
                    {blok.intro}
                </p>
            </div>
        )
    }
    {
        blok.videos &&
            (hasLessThanFourVideos ? (
                <AssetsInline
                    assets={blok.videos}
                    moreSpacing={blok.more_spacing}
                />
            ) : (
                <AssetsSlider assets={blok.videos} />
            ))
    }
</div>
