---
import Title from "../../components/atoms/Title.astro";

const { language, blok } = Astro.props;
---

<div class="about">
    <div class="container-main flex flex-col items-center pt-150 lg:pt-135">
        <span
            class="text-tag-big mb-24 flex items-center justify-center rounded-[50px] border-3 px-16 py-12 lg:mb-65 lg:px-24 lg:py-13"
        >
            {blok.subtitle}
        </span>
        <h1 class="text-title-1 px-gutter w-10/12 text-center">
            <Title title={blok.title[0]} />
        </h1>
    </div>
</div>
