---
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import Approach from "../../components/home/Approach.astro";
import Hero from "../../components/home/Hero.astro";
const { language, blok } = Astro.props;
---

<div class="home overflow-hidden" {...storyblokEditable(blok)}>
    <Hero blok={blok} />

    <!-- <SectionText /> -->
    <Approach blok={blok.approach[0]} />
    <div>
        {
            blok.sections?.map((blok: SbBlokData) => {
                return <StoryblokComponent blok={blok} language={language} />;
            })
        }
    </div>
</div>

<script></script>
