---
import { splitText } from "../../utils/splitString";
import SectionText from "../../components/SectionText.astro";
const { language, blok } = Astro.props;
---

<div class="page">
    <div class="bg-blue flex flex-col items-center justify-center py-300">
        <h1
            class="text-title-1 hero-title block"
            set:html={splitText("Page: " + blok.title)}
        />
        <div class="mt-50 flex gap-10">
            <div class="bg-green hero-block size-50"></div>
            <div class="bg-green hero-block size-50"></div>
            <div class="bg-green hero-block size-50"></div>
            <div class="bg-green hero-block size-50"></div>
            <div class="bg-green hero-block size-50"></div>
        </div>
    </div>
    <SectionText />
</div>

<script>
    let title: NodeListOf<Element> | null;
    let blocks: NodeListOf<Element> | null;
    let tl: gsap.core.Timeline | null;

    const setVariables = () => {
        blocks = document.querySelectorAll(".page .hero-block");
        title = document.querySelectorAll(".page .hero-title .word-inner");
    };
    const init = () => {
        setVariables();

        tl = gsap
            .timeline({
                defaults: {
                    ease: "power4",
                },
            })
            .from(title, {
                duration: 1,
                y: "100%",
                stagger: 0.2,
            })
            .from(
                blocks,
                {
                    duration: 1.2,
                    y: 50,
                    opacity: 0,
                    stagger: 0.05,
                    ease: "elastic.out(1,0.3)",
                },
                "<+0.2",
            );
    };

    const cleanup = () => {
        if (tl) {
            tl.kill();
            tl = null;
        }
        title = null;
        blocks = null;
    };

    document.addEventListener("astro:page-load", () => {
        init();
    });

    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
