---
import Hero from "../../components/shop/Hero.astro";
import Card from "../../components/shop/Card.astro";

const { language, blok } = Astro.props;
---

<div id="page-shop" class="shop bg-pink text-black">
    <Hero blok={blok} />
    <div class="container-main pb-120 md:pb-170">
        <div
            class="mt-32 flex flex-col gap-48 md:mt-40 md:grid md:grid-cols-2 md:gap-x-0 md:gap-y-120"
        >
            {
                blok.shop_items.map((item) => (
                    <div
                        class="px-gutter"
                    >
                        <Card shopItem={item} />
                    </div>
                ))
            }
        </div>
    </div>    
</div>

<script>
    let tlAppear: gsap.core.Timeline;
    let page: HTMLElement | null;

    const init = () => {
        page = document.querySelector("#page-shop");
        if (!page) return;

        const banner = document.querySelector("#layout-banner");
        const header = document.querySelectorAll(
            "#layout-header .layout-header",
        );

        gsap.timeline()
            .set(banner, {
                y: "-100%",
            })
            .set(header, {
                y: -50,
                opacity: 0,
            });

        tlAppear = gsap
            .timeline()
            .to(
                banner,
                {
                    y: 0,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            )
            .to(
                header,
                {
                    y: 0,
                    opacity: 1,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            );
    };

    const cleanup = () => {
        tlAppear?.kill();
    };

    document.addEventListener("storyblok-live-preview-updated", () => {
        cleanup();
        init();
    });

    document.addEventListener("astro:page-load", () => {
        init();
    });
    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
