---
import Cases from "../../components/united/Cases.astro";
import Hero from "../../components/united/Hero.astro";
import Logos from "../../components/united/Logos.astro";
import Cards from "../../storyblok/sections/Cards.astro";
import { useTranslations } from "../../i18n/utils";

const lang = Astro.currentLocale;
const t = useTranslations(lang);

const { language, blok } = Astro.props;
---

<div id="page-united" class="united bg-green text-white">
    <Hero blok={blok} />
    {blok.cards[0] && <Cards blok={blok.cards[0]} />}
    <Logos blok={blok} />
    <Cases blok={blok} />
</div>

<script>
    let tlAppear: gsap.core.Timeline;
    let page: HTMLElement | null;

    const init = () => {
        page = document.querySelector("#page-united");
        if (!page) return;

        const banner = document.querySelector("#layout-banner");
        const header = document.querySelectorAll(
            "#layout-header .layout-header",
        );

        gsap.timeline()
            .set(banner, {
                y: "-100%",
            })
            .set(header, {
                y: -50,
                opacity: 0,
            });

        tlAppear = gsap
            .timeline()
            .to(
                banner,
                {
                    y: 0,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            )
            .to(
                header,
                {
                    y: 0,
                    opacity: 1,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            );
    };

    const cleanup = () => {
        tlAppear?.kill();
    };

    document.addEventListener("storyblok-live-preview-updated", () => {
        cleanup();
        init();
    });

    document.addEventListener("astro:page-load", () => {
        init();
    });
    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
