---
import type { HTMLAttributes } from "astro/types";
import type { Link } from "storyblok-rich-text-astro-renderer";

export interface Props extends HTMLAttributes<"a"> {
    link: Link["attrs"];
}

const {
    link: { href, target, linktype },
    ...props
} = Astro.props;

// Handle email links
const finalHref =
    linktype === "email" && href && !href.startsWith("mailto:")
        ? `mailto:${href}`
        : href;
---

<a href={finalHref} {target} {...props}><slot /></a>
