@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-black: #181817;
    --color-white: #f8f7ec;
    --color-green: #2d5a36;
    --color-orange: #e56138;
    --color-blue: #cdf0ff;
    --color-pink: #edd4f8;
    --color-transparent: transparent;

    --font-*: initial;
    --font-figtree: "Figtree Variable", sans-serif;
    --font-space: "Space Grotesk Variable", sans-serif;

    --text-*: initial;
    --text-p12: 1.2rem;
    --text-p12--line-height: 2.4rem;
    --text-p14: 1.4rem;
    --text-p14--line-height: 2.4rem;
    --text-p16: 1.6rem;
    --text-p16--line-height: 2.4rem;
    --text-p18: 1.8rem;
    --text-p18--line-height: 2.5rem;
    --text-p18-mobile: 1.6rem;
    --text-p18-mobile--line-height: 2.2rem;
    --text-p20: 2rem;
    --text-p20--line-height: 2.9rem;
    --text-p20-mobile: 1.6rem;
    --text-p20-mobile--line-height: 2.4rem;
    --text-p22: 2.2rem;
    --text-p22--line-height: 3rem;
    --text-p22-mobile: 1.8rem;
    --text-p22-mobile--line-height: 2.5rem;
    --text-p24: 2.4rem;
    --text-p24--line-height: 3.3rem;
    --text-p24-mobile: 1.8rem;
    --text-p24-mobile--line-height: 2.5rem;
    --text-p86: 8.6rem;
    --text-p86--line-height: 10.9rem;
    --text-h1: 7.6rem;
    --text-h1--line-height: 9.7rem;
    --text-h1-mobile: 4rem;
    --text-h1-mobile--line-height: 4.3rem;
    --text-h2: 5.6rem;
    --text-h2--line-height: 7.2rem;
    --text-h2-tablet: 4.5rem;
    --text-h2-tablet--line-height: 6rem;
    --text-h2-mobile: 3.4rem;
    --text-h2-mobile--line-height: 4rem;
    --text-h3: 4rem;
    --text-h3--line-height: 5.1rem;
    --text-h3-tablet: 3rem;
    --text-h3-tablet--line-height: 3.7rem;
    --text-h3-mobile: 2.2rem;
    --text-h3-mobile--line-height: 3rem;
    --text-h4: 3.2rem;
    --text-h4--line-height: 4rem;
    --text-h4-mobile: 2rem;
    --text-h4-mobile--line-height: 2.1rem;
    --text-h5: 3rem;
    --text-h5--line-height: 4.1rem;
    --text-h5-mobile: 2rem;
    --text-h5-mobile--line-height: 2.7rem;
    --text-h6: 2.4rem;
    --text-h6--line-height: 3.3rem;
    --text-h6-mobile: 2rem;
    --text-h6-mobile--line-height: 2.5rem;
    --text-h7: 1.4rem;
    --text-h7--line-height: 1.9rem;
    --text-cta16: 1.6rem;
    --text-cta16--line-height: 2.2rem;
    --text-cta32: 3.2rem;
    --text-cta32--line-height: 4.4rem;
    --text-cta32-mobile: 2.4rem;
    --text-cta32-mobile--line-height: 3.2rem;
    --text-tagbig: 2rem;
    --text-tagbig--line-height: 2.4rem;
    --text-tagbig-mobile: 1.4rem;
    --text-tagbig-mobile--line-height: 1.7rem;

    --breakpoint-container: 1440px;

    --spacing: 0.1rem;
    --spacing-gutter: 1rem;
}

@layer base {
    html {
        /* sets the base font to 10px for easier math */
        font-size: 62.5%;
        color: var(--color-black);
        background: var(--color-white);
    }

    body {
        @apply text-p16;
        font-family: var(--font-figtree);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    img {
        display: block;
        max-width: 100%;
    }

    @media (min-width: 1440px) {
        html {
            font-size: 0.6944444vw;
        }
    }
}

@layer components {
    .container-main {
        width: 100%;
        padding-inline: 1rem;
        margin-inline: auto;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .word {
        display: inline-flex;
        overflow: hidden;
    }

    .word-inner {
        display: inline-block;
    }

    .text-title-1 {
        @apply text-h1-mobile md:text-h1;
        @apply font-space;
    }
    .text-title-2 {
        @apply text-h2-mobile sm:text-h2-tablet md:text-h2;
        @apply font-space;
    }
    .text-title-3 {
        @apply text-h3-mobile md:text-h3;
        @apply font-space;
    }
    .text-title-4 {
        @apply text-h4-mobile md:text-h4;
        @apply font-space;
        @apply font-bold;
    }
    .text-title-5 {
        @apply text-h5-mobile md:text-h5;
        @apply font-space;
    }
    .text-title-6 {
        @apply text-h6-mobile md:text-h6;
        @apply font-space;
    }
    .text-title-7 {
        @apply text-h7;
        @apply font-space;
        @apply font-bold;
    }
    .text-p-18 {
        @apply text-p18-mobile md:text-p18;
    }
    .text-p-20 {
        @apply text-p20-mobile md:text-p20;
    }
    .text-p-22 {
        @apply text-p22-mobile md:text-p22;
        @apply font-bold;
    }
    .text-p-24 {
        @apply text-p24-mobile md:text-p24;
    }
    .text-cta-32 {
        @apply text-cta32-mobile md:text-cta32;
        @apply font-space;
    }
    .text-tag-big {
        @apply text-tagbig-mobile md:text-tagbig;
        @apply font-black;
        @apply uppercase;
    }
    .text-huge {
        @apply text-h1-mobile md:text-h1 lg:text-p86;
        @apply font-space;
    }
}
