<div class="relative w-full">
    <div class="flex w-full items-center justify-center">
        <div
            class="home-hero-title relative z-[8] flex aspect-[1396/212] w-full items-center overflow-hidden"
        >
            <div
                id="home-title-h"
                style="transform: translateY(100%);"
                class="letters-hom mr-[1.42%] flex h-full w-[12.67%] items-center overflow-hidden"
            >
                <div
                    class="title-inner-letter-hom relative aspect-[177/205] w-full"
                    style="transform: translateX(200%);"
                >
                    <svg
                        viewBox="0 0 177 205"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.316406 204.202V0.984375H33.8946V87.4909H142.881V0.984375H176.46V204.202H142.881V117.695H33.8946V204.202H0.316406Z"
                        ></path>
                    </svg>
                    <svg
                        class="absolute top-0 right-[200%] size-full"
                        viewBox="0 0 177 205"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.316406 204.202V0.984375H33.8946V87.4909H142.881V0.984375H176.46V204.202H142.881V117.695H33.8946V204.202H0.316406Z"
                        ></path>
                    </svg>
                </div>
            </div>
            <div
                id="home-title-o"
                style="transform: translateY(100%);"
                class="letters-hom mr-[1.42%] flex h-full w-[15.18%] items-center overflow-hidden"
            >
                <div
                    class="title-inner-letter-hom relative aspect-[212/212] w-full"
                    style="transform: translateY(-200%);"
                >
                    <svg
                        viewBox="0 0 212 212"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M105.951 0C47.6567 0 0.378906 47.2778 0.378906 105.572C0.378906 163.867 47.6567 211.144 105.951 211.144C164.245 211.144 211.523 163.867 211.523 105.572C211.523 47.2778 164.245 0 105.951 0ZM105.951 178.42C65.7873 178.42 33.1034 145.736 33.1034 105.572C33.1034 65.4084 65.7873 32.7245 105.951 32.7245C146.115 32.7245 178.799 65.4084 178.799 105.572C178.799 145.736 146.115 178.42 105.951 178.42Z"
                        ></path>
                    </svg>
                    <svg
                        class="absolute top-[200%] left-0 size-full"
                        viewBox="0 0 212 212"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M105.951 0C47.6567 0 0.378906 47.2778 0.378906 105.572C0.378906 163.867 47.6567 211.144 105.951 211.144C164.245 211.144 211.523 163.867 211.523 105.572C211.523 47.2778 164.245 0 105.951 0ZM105.951 178.42C65.7873 178.42 33.1034 145.736 33.1034 105.572C33.1034 65.4084 65.7873 32.7245 105.951 32.7245C146.115 32.7245 178.799 65.4084 178.799 105.572C178.799 145.736 146.115 178.42 105.951 178.42Z"
                        ></path>
                    </svg>
                </div>
            </div>
            <div
                id="home-title-m"
                style="transform: translateY(100%);"
                class="letters-hom mr-[1.63%] flex h-full w-[15.90%] items-center overflow-hidden"
            >
                <div
                    class="title-inner-letter-hom relative aspect-[222/205] w-full"
                    style="transform: translateX(-200%);"
                >
                    <svg
                        viewBox="0 0 222 205"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.441406 204.202V0.984375H48.8168L109.428 158.347H112.274L173.17 0.984375H221.261V204.202H189.105V52.7745H186.26L127.356 204.161H94.3466L35.4424 52.7745H32.5968V204.161H0.441406V204.202Z"
                        ></path>
                    </svg>
                    <svg
                        class="absolute top-0 left-[200%] size-full"
                        viewBox="0 0 222 205"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.441406 204.202V0.984375H48.8168L109.428 158.347H112.274L173.17 0.984375H221.261V204.202H189.105V52.7745H186.26L127.356 204.161H94.3466L35.4424 52.7745H32.5968V204.161H0.441406V204.202Z"
                        ></path>
                    </svg>
                </div>
            </div>
            <div
                class="mr-[1.54%] flex h-full w-[10.6%] items-center overflow-hidden opacity-0"
            >
                <div class="relative aspect-[148/205] w-full"></div>
            </div>
            <div
                id="home-title-r"
                class="mr-[0.85%] flex h-full w-[12.10%] items-center overflow-hidden opacity-0"
            >
                <div class="relative aspect-[169/205] w-full"></div>
            </div>
            <div
                id="home-title-u"
                style="transform: translateY(100%);"
                class="letters-un mr-[1.63%] flex h-full w-[12.67%] items-center overflow-hidden"
            >
                <div
                    class="title-inner-letter-un relative aspect-[177/209] w-full"
                    style="transform: translateY(-200%);"
                >
                    <svg
                        viewBox="0 0 177 209"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.628906 125.907V0.984375H34.2072V125.622C34.2072 161.761 54.1264 177.697 88.8429 177.697C123.559 177.697 143.194 161.761 143.194 125.622V0.984375H176.772V125.907C176.772 183.103 145.186 208.145 88.8429 208.145C32.4998 208.145 0.628906 183.103 0.628906 125.907Z"
                        ></path>
                    </svg>
                    <svg
                        class="absolute top-[200%] left-0 size-full"
                        viewBox="0 0 177 209"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.628906 125.907V0.984375H34.2072V125.622C34.2072 161.761 54.1264 177.697 88.8429 177.697C123.559 177.697 143.194 161.761 143.194 125.622V0.984375H176.772V125.907C176.772 183.103 145.186 208.145 88.8429 208.145C32.4998 208.145 0.628906 183.103 0.628906 125.907Z"
                        ></path>
                    </svg>
                </div>
            </div>
            <div
                id="home-title-n"
                style="transform: translateY(100%);"
                class="letters-un flex h-full w-[12.67%] items-center overflow-hidden"
            >
                <div
                    class="title-inner-letter-un relative aspect-[177/205] w-full"
                    style="transform: translateX(-200%);"
                >
                    <svg
                        viewBox="0 0 177 205"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.539062 204.202V0.984375H36.963L140.259 147.249H143.104V0.984375H176.682V204.202H140.259L36.963 57.9372H34.1173V204.202H0.539062Z"
                        ></path>
                    </svg>
                    <svg
                        class="absolute top-0 left-[200%] size-full"
                        viewBox="0 0 177 205"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.539062 204.202V0.984375H36.963L140.259 147.249H143.104V0.984375H176.682V204.202H140.259L36.963 57.9372H34.1173V204.202H0.539062Z"
                        ></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div
        class="absolute top-0 left-0 z-10 flex w-full items-center justify-center"
    >
        <div
            class="home-hero-title flex aspect-[1396/212] w-full items-center overflow-hidden"
        >
            <div
                class="mr-[1.42%] flex h-full w-[12.67%] items-center overflow-hidden opacity-0"
            >
                <div class="relative aspect-[177/205] w-full"></div>
            </div>
            <div
                class="mr-[1.42%] flex h-full w-[15.18%] items-center overflow-hidden opacity-0"
            >
                <div class="relative aspect-[212/212] w-full"></div>
            </div>
            <div
                class="mr-[1.63%] flex h-full w-[15.90%] items-center overflow-hidden opacity-0"
            >
                <div class="relative aspect-[222/205] w-full"></div>
            </div>
            <div
                id="home-title-e"
                style="transform: translateY(100%);"
                class="letters-er mr-[1.54%] flex h-full w-[10.6%] items-center overflow-hidden"
            >
                <div
                    class="title-inner-letter-er relative aspect-[148/205] w-full"
                    style="transform: translateY(200%);"
                >
                    <svg
                        viewBox="0 0 148 205"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.0273438 204.202V0.984375H146.292V31.1478H33.6056V87.4909H133.486V117.654H33.6056V173.997H147.715V204.161H0.0273438V204.202Z"
                        ></path>
                    </svg>
                    <svg
                        viewBox="0 0 148 205"
                        class="absolute bottom-[200%] left-0 size-full"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.0273438 204.202V0.984375H146.292V31.1478H33.6056V87.4909H133.486V117.654H33.6056V173.997H147.715V204.161H0.0273438V204.202Z"
                        ></path>
                    </svg>
                </div>
            </div>
            <div
                id="home-title-r"
                style="transform: translateY(100%);"
                class="letters-er mr-[0.85%] flex h-full w-[12.10%] items-center overflow-hidden"
            >
                <div
                    class="title-inner-letter-er relative aspect-[169/205] w-full"
                    style="transform: translateX(200%);"
                >
                    <svg
                        viewBox="0 0 169 205"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.21875 204.202V0.984375H82.7415C140.507 0.984375 157.866 28.0177 157.866 59.0348C157.866 84.9299 148.475 103.142 122.296 111.679V114.524C144.776 121.638 153.882 136.435 159.858 163.753L168.679 204.161H134.532L125.995 165.176C121.442 143.549 113.19 129.321 81.8878 129.321H33.797V204.161H0.21875V204.202ZM33.797 99.1579H80.465C110.913 99.1579 122.865 84.6453 122.865 64.4415C122.865 44.2377 110.913 31.1478 80.465 31.1478H33.797V99.1579Z"
                        ></path>
                    </svg>
                    <svg
                        class="absolute top-0 right-[200%] size-full"
                        viewBox="0 0 169 205"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.21875 204.202V0.984375H82.7415C140.507 0.984375 157.866 28.0177 157.866 59.0348C157.866 84.9299 148.475 103.142 122.296 111.679V114.524C144.776 121.638 153.882 136.435 159.858 163.753L168.679 204.161H134.532L125.995 165.176C121.442 143.549 113.19 129.321 81.8878 129.321H33.797V204.161H0.21875V204.202ZM33.797 99.1579H80.465C110.913 99.1579 122.865 84.6453 122.865 64.4415C122.865 44.2377 110.913 31.1478 80.465 31.1478H33.797V99.1579Z"
                        ></path>
                    </svg>
                </div>
            </div>
            <div
                class="mr-[1.63%] flex h-full w-[12.67%] items-center overflow-hidden opacity-0"
            >
                <div class="relative aspect-[177/209] w-full"></div>
            </div>
            <div
                class="flex h-full w-[12.67%] items-center overflow-hidden opacity-0"
            >
                <div class="relative aspect-[177/205] w-full"></div>
            </div>
        </div>
    </div>
</div>
