---
import { splitText } from "../utils/splitString";
---

<div class="text-title-1 section-text px-150 py-100 text-center">
    <p
        set:html={splitText(
            "At the crossroad of consulting & advertising, we design cultural innovations that create value and cross channel communications that generate conversations",
        )}
    />
</div>

<script>
    let section: NodeListOf<Element> | null;
    let words: NodeListOf<Element> | null;
    let tl: gsap.core.Timeline | null;

    const init = () => {
        section = document.querySelectorAll(".section-text");
        words = document.querySelectorAll(".section-text .word-inner");
        tl = gsap
            .timeline({
                scrollTrigger: {
                    trigger: section,
                    start: "top bottom=-100px",
                },
            })
            .from(words, {
                duration: 1,
                ease: "power4",
                y: "100%",
                stagger: 0.04,
            });
    };

    const cleanup = () => {
        if (tl) {
            tl.kill();
            tl = null;
        }
        section = null;
        words = null;
    };

    document.addEventListener("astro:page-load", () => {
        init();
    });

    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
