---
import Link from "../global/Link.astro";
import { Icon } from "astro-icon/components";

interface Props {
    link: {
        cached_url?: string;
        url?: string;
        linktype?: string;
        target?: string;
    };
    label: string;
    className?: string;
}

const { link, label, className = "" } = Astro.props;
---

<Link
    link={link}
    className={`text-cta32 font-space inline-flex items-end gap-11 hover:opacity-80 ${className}`}
>
    <span
        class="relative whitespace-pre-wrap after:absolute after:inset-x-0 after:bottom-0 after:h-2 after:bg-current"
        >{label}</span
    >
    <span
        class="flex size-34 items-center justify-center rounded-full border-2 border-current"
    >
        <Icon name="arrow-right" size="16" />
    </span>
</Link>
