---
import Link from "../global/Link.astro";
import { Icon } from "astro-icon/components";

interface Props {
    link: {
        cached_url?: string;
        url?: string;
        linktype?: string;
        target?: string;
    };
    label: string;
    className?: string;
}

const { link, label, className = "" } = Astro.props;
---

<Link
    link={link}
    className={`text-cta32 font-space inline-flex items-center gap-11 hover:opacity-80 ${className}`}
>
    <span
        class="whitespace-pre-wrap underline decoration-solid decoration-2 underline-offset-8"
    >{label}</span>
    <span
        class="flex size-34 items-center justify-center rounded-full border-2 border-black"
    >
        <Icon name="arrow-right" size="16" />
    </span>
</Link>
