---
import Link from "../global/Link.astro";

interface Props {
    link: {
        cached_url?: string;
        url?: string;
        linktype?: string;
        target?: string;
    };
    label: string;
    className?: string;
}

const { link, label, className = "" } = Astro.props;
---

<Link link={link} className={`hover:opacity-80 ${className}`}>
    <span class="whitespace-pre-wrap">{label}</span>
</Link>
