---
import {
    renderRichText,
    type ISbRichtext,
    type SbBlokData,
} from "@storyblok/astro";
import { Icon } from "astro-icon/components";

const { blok } = Astro.props;
---

<div id="cultural-process" class="w-full md:w-5/6">
    <h2 class="text-title-2 mx-gutter mb-36 md:mb-48">
        {blok.second_cultural_title}
    </h2>
    <div class="flex flex-col gap-6">
        {
            blok.cultural_accordions.map((item: SbBlokData) => (
                <button class="flex justify-between gap-10 border border-white/40 px-16 py-24 text-left md:px-40 md:py-40">
                    <div>
                        <div class="text-p-22">{item.title}</div>
                        <div class="h-0 overflow-hidden">
                            <div
                                class="pt-24"
                                set:html={renderRichText(
                                    item.text as ISbRichtext,
                                )}
                            />
                        </div>
                    </div>
                    <div class="flex size-28 shrink-0 items-center justify-center rounded-full border-2 md:size-34">
                        <Icon name="arrow-down" class="size-12 md:size-16" />
                    </div>
                </button>
            ))
        }
    </div>
</div>
