---
import { type SbBlokData } from "@storyblok/astro";
import Accordion from "../atoms/Accordion.astro";

const { blok } = Astro.props;
---

<div id="cultural-process" class="w-full lg:w-5/6">
    <h2 class="text-title-2 mx-gutter mb-36 md:mb-48">
        {blok.second_cultural_title}
    </h2>
    <div class="flex flex-col gap-6">
        {
            blok.cultural_accordions.map((item: SbBlokData) => (
                <Accordion blok={item} />
            ))
        }
    </div>
</div>
