---
import { renderRichText } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div>
    <h2 class="text-h2 font-space mx-gutter mb-48">
        {blok.first_cultural_title}
    </h2>
    <div class="mb-85 flex w-full gap-50">
        <div
            class="px-gutter text-p20 w-1/2"
            set:html={renderRichText(blok.first_cultural_column_text)}
        />
        <div
            class="px-gutter text-p20 w-1/2"
            set:html={renderRichText(blok.second_cultural_column_text)}
        />
    </div>
</div>
