---
import type { SbBlokData } from "@storyblok/astro";

const { items } = Astro.props;
---

<div id="cultural-items" class="mb-80 w-5/6 text-black">
    {
        items.map((item: SbBlokData, index: number) => (
            <div
                class:list={[
                    "flex w-full gap-40 py-40 pr-40 pl-32",
                    {
                        "items-start bg-white": !item.highlight,
                        "bg-orange items-center text-white": item.highlight,
                    },
                ]}
            >
                <span class="flex size-56 shrink-0 items-center justify-center rounded-full border-3 text-[2rem]/[56px] font-black">
                    {String(index + 1).padStart(2, "0")}
                </span>
                <div class="flex flex-col">
                    <span class="text-h4 font-space font-bold">
                        {item.title}
                    </span>
                    {item.text && (
                        <span class="text-p20 mt-16">{item.text}</span>
                    )}
                </div>
            </div>
        ))
    }
</div>
