---
import {
    renderRichText,
    type ISbRichtext,
    type SbBlokData,
} from "@storyblok/astro";
import { Icon } from "astro-icon/components";

const { blok } = Astro.props;
---

<div id="cultural-process" class="w-5/6">
    <h2 class="text-h2 font-space mx-gutter mb-48">
        {blok.second_cultural_title}
    </h2>
    <div class="flex flex-col gap-6">
        {
            blok.cultural_accordions.map((item: SbBlokData) => (
                <button class="flex justify-between gap-10 border border-white/40 p-40 text-left">
                    <div>
                        <div class="text-p22 font-bold">{item.title}</div>
                        <div class="h-0 overflow-hidden">
                            <div
                                class="pt-24"
                                set:html={renderRichText(
                                    item.text as ISbRichtext,
                                )}
                            />
                        </div>
                    </div>
                    <div class="flex size-34 shrink-0 items-center justify-center rounded-full border-2">
                        <Icon name="arrow-down" size="16" />
                    </div>
                </button>
            ))
        }
    </div>
</div>
