---
import { renderRichText } from "@storyblok/astro";
import { Icon } from "astro-icon/components";

const { blok } = Astro.props;
---

<div class="relative h-[120vh] w-full" style="--offset: 0;" id="approach-hero">
    <div
        class="container-main z-[1] text-center opacity-0"
        id="approach-hero-inner"
    >
        <div class="flex w-full lg:translate-y-[-20%]">
            <div
                class="px-gutter flex w-1/2 translate-x-[calc(50%*var(--offset))] justify-center lg:translate-x-[calc(16.66%*var(--offset))]"
            >
                <div
                    class="flex w-full flex-col items-center justify-between gap-15 lg:mr-90 lg:justify-center lg:gap-55"
                >
                    <div
                        class="xs:text-h3-mobile md:text-h3-tablet lg:text-h3 font-space max-w-375 text-[1.6rem]/[2rem]"
                        set:html={renderRichText(blok.left_description)}
                    />
                    <div
                        class="flex size-34 items-center justify-center rounded-full border-[0.2rem]"
                    >
                        <Icon name="arrow-down" class="size-12" />
                    </div>
                </div>
            </div>
            <div
                class="px-gutter flex w-1/2 translate-x-[calc(50vw*var(--offset))] justify-center text-white"
            >
                <div
                    class="flex w-full flex-col items-center justify-between gap-15 lg:ml-90 lg:justify-center lg:gap-55"
                >
                    <div
                        class="xs:text-h3-mobile md:text-h3-tablet lg:text-h3 font-space max-w-375 text-[1.6rem]/[2rem]"
                        set:html={renderRichText(blok.right_description)}
                    />
                    <div
                        class="flex size-34 items-center justify-center rounded-full border-[0.2rem]"
                    >
                        <Icon name="arrow-down" class="size-12" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let hero: HTMLElement | null;
    let heroInner: HTMLElement | null;
    let tl: gsap.core.Timeline | null;

    const setVariables = () => {
        hero = document.querySelector(".approach #approach-hero");
        heroInner = document.querySelector(".approach #approach-hero-inner");
    };
    const init = () => {
        const page = document.querySelector("#page-approach");
        if (!page) return;

        setVariables();

        tl = gsap.timeline({
            scrollTrigger: {
                trigger: heroInner,
                start: "center-=20% center",
                endTrigger: hero,
                end: "bottom 70%",
                invalidateOnRefresh: true,
                pin: heroInner,
            },
        });
    };

    const cleanup = () => {
        if (tl) {
            tl.kill();
            tl = null;
        }
        hero = null;
        heroInner = null;
    };

    document.addEventListener("storyblok-live-preview-updated", () => {
        cleanup();
        init();
    });

    document.addEventListener("astro:page-load", () => {
        init();
    });

    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
