---
import Card from "../../components/case/Card.astro";

import { useTranslations } from "../../i18n/utils";

const lang = Astro.currentLocale;
const t = useTranslations(lang);

const { blok } = Astro.props;

const cases = blok.cases.filter((c) => c.content);
---

{
    cases.length && (
        <div id="united-cases" class="container-main">
            <div class="flex flex-col gap-40 pt-70 pb-90 md:gap-70 md:pt-130 md:pb-100">
                <h3 class="px-gutter text-title-2">{blok.cases_title}</h3>
                <div class="flex flex-col gap-48 md:grid md:grid-cols-2 md:gap-x-0 md:gap-y-120">
                    {cases.map(
                        (
                            item: { content: { category: string } },
                            index: number,
                        ) => (
                            <div
                                class="px-gutter united-case"
                                data-category={item.content?.category}
                            >
                                <Card caseItem={item} />
                            </div>
                        ),
                    )}
                </div>
            </div>
        </div>
    )
}
