---
import { useTranslations } from "../../i18n/utils";
import Title from "../../components/atoms/Title.astro";
import LogosGrid from "../../storyblok/sections/LogosGrid.astro";

const lang = Astro.currentLocale;
const t = useTranslations(lang);

const { blok } = Astro.props;
const backgroundColor = blok.bg_color || 'var(--color-black)';
const textColor = blok.text_color === 'black' ? 'var(--color-black)' : 'var(--color-white)';
---

{
    blok.logos?.length > 0 && (
        <div class="container-main bg-black text-white" style={`background-color: ${backgroundColor}; color: ${textColor};`}>
            <div class="pt-100 pb-125 md:py-140">
                {blok.title[0] && (
                    <div class="container-main">
                        <h2 class="text-title-1 px-gutter mx-auto w-10/12 lg:w-8/12 xl:w-6/12">
                            <Title title={blok.title[0]} />
                        </h2>
                    </div>
                )}
                <LogosGrid blok={blok} className="mt-55 md:mt-80" />
            </div>
        </div>
    )
}
