---
import { Icon } from "astro-icon/components";
import { useTranslations } from "../../i18n/utils";
import Line from "../case/Line.astro";
import ArrowLink from "../atoms/ArrowLink.astro";

const lang = Astro.currentLocale;
const t = useTranslations(lang);

const { cases } = Astro.props;

const casesDup = [...cases, ...cases, ...cases, ...cases, ...cases, ...cases];
---

<div class="container-main pt-110 pb-100 md:pt-175 md:pb-130">
    <h3 class="text-title-2 px-gutter mb-24 md:mb-48">
        {t("work.archived.title")}
    </h3>
    <div class="flex flex-col">
        {
            casesDup.map((item: { content: { category: string } }, index) => (
                <div
                    class={`work-archived-case w-full ${index > 4 && "hidden"}`}
                    data-category={item.content?.category}
                >
                    <Line caseItem={item} />
                </div>
            ))
        }
    </div>
    <div>
        <ArrowLink
            id="load-archived-button"
            plus
            label={t("work.archived.load")}
            className={`px-gutter mt-40 flex cursor-pointer items-end gap-6 md:mt-48 md:gap-12 ${casesDup.length <= 5 && "hidden"}`}
        />
    </div>
</div>
