---
import { Icon } from "astro-icon/components";
import { useTranslations } from "../../i18n/utils";
import ArrowLink from "../atoms/ArrowLink.astro";

const lang = Astro.currentLocale;
const t = useTranslations(lang);

const { nbConsulting, nbAdvertising } = Astro.props;
---

<div
    style="--show: 0; pointer-events: none;"
    class="container-main w-full translate-y-[calc(5rem*(1-var(--show)))] opacity-[var(--show)] transition-[opacity,translate] duration-[400ms] ease-[cubic-bezier(0.22,1,0.36,1)]"
    id="featured-infos"
>
    <div class="flex w-full items-center justify-between">
        <div class="px-gutter text-p-20">
            <span data-category="consulting" class="featured-infos-txt hidden"
                >{nbConsulting} {t("work.consultingProjects")}</span
            >
            <span data-category="advertising" class="featured-infos-txt hidden"
                >{nbAdvertising} {t("work.advertisingProjects")}</span
            >
        </div>
        <div class="px-gutter">
            <ArrowLink id="all-button" plus label={t("work.all")} />
        </div>
    </div>
</div>
