---
import { Icon } from "astro-icon/components";

const currentPath = Astro.url.pathname;

const routes = [
    {
        slug: "/",
        name: "Home",
    },
    {
        slug: "/test",
        name: "Page",
    },
    {
        slug: "/approach",
        name: "Approach",
    },
    {
        slug: "/about",
        name: "About",
    },
];
---

<div
    id="layout-banner"
    class="bg-pink absolute top-0 right-0 left-0 z-[100] h-30 translate-y-[-100%]"
>
</div>
