---
import { Icon } from "astro-icon/components";
import { useTranslations } from "../../i18n/utils";

const lang = Astro.currentLocale;
const t = useTranslations(lang);
---

<div
    id="layout-banner"
    class="absolute top-0 right-0 left-0 z-[100] h-30 translate-y-[-100%]"
>
    <div
        class="bg-pink flex size-full items-center justify-end overflow-hidden text-[1.3rem]/[1.8rem] font-medium uppercase"
    >
        <div
            class="banner-slide flex h-full shrink-0 items-center gap-56 pl-56"
        >
            {
                [...Array(8)].map(() => (
                    <div class="flex shrink-0 items-center gap-8">
                        <span>{t("banner.title")}</span>
                        <Icon
                            name="plus"
                            class="relative top-[-0.1rem] size-16"
                        />
                    </div>
                ))
            }
        </div>
        <div
            class="banner-slide flex h-full shrink-0 items-center gap-56 pl-56"
        >
            {
                [...Array(8)].map(() => (
                    <div class="flex shrink-0 items-center gap-8">
                        <span>{t("banner.title")}</span>
                        <Icon
                            name="plus"
                            class="relative top-[-0.1rem] size-16"
                        />
                    </div>
                ))
            }
        </div>
    </div>
</div>

<style>
    .banner-slide {
        animation: infiniteSlide linear infinite;
        --speed: 80s;
        animation-duration: var(--speed);
    }

    @keyframes infiniteSlide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    }
</style>
