---
import { Icon } from "astro-icon/components";
import LogoTypo from "./LogoTypo.astro";
import type { SbBlokData } from "@storyblok/astro";
import Link from "./Link.astro";

import { splitRoll } from "../../utils/splitString";
import LangSwitcher from "./LangSwitcher.astro";
import { useTranslations } from "../../i18n/utils";
import MenuButtonDesktop from "./MenuButtonDesktop.astro";
import MenuButtonMobile from "./MenuButtonMobile.astro";

const lang = Astro.currentLocale;
const t = useTranslations(lang);

const { logoless, blok, alternates, white } = Astro.props;
---

<header
    id="layout-header"
    class="pointer-events-none absolute top-0 right-0 left-0 z-[100] pt-50 md:pt-64"
>
    {
        !logoless && (
            <div class="layout-header opacity-0">
                <div class="container-main flex items-center">
                    <a
                        href={t("links.home")}
                        class={`px-gutter pointer-events-auto flex h-36 w-237 items-center ${white ? "text-white" : "text-black"}`}
                    >
                        <LogoTypo className="size-full" />
                    </a>
                    <div class="mr-gutter ml-auto size-48 sm:h-54 sm:w-117" />
                </div>
            </div>
        )
    }
    {
        blok && (
            <div class="layout-header absolute top-50 right-0 left-0 flex opacity-0 md:top-64 lg:fixed">
                <div
                    class="pointer-events-auto relative z-[2] mr-20 ml-auto"
                    id="menu-button-wrapper"
                >
                    <button
                        id="menu-button"
                        class="text-cta16 group font-space relative flex size-48 cursor-pointer px-16 py-16 text-white transition-transform duration-100 ease-out active:scale-[0.95] sm:h-54 sm:w-117 sm:px-24"
                    >
                        <MenuButtonDesktop />
                        <MenuButtonMobile />
                        <div class="relative">
                            <div class="relative hidden items-center gap-10 sm:flex">
                                <span>{blok.label}</span>
                                <div class="relative size-16">
                                    <div class="menu-button-icon-1 absolute top-2 right-2 size-7 border-t-[0.2rem] border-r-[0.2rem] border-current transition-transform ease-out" />
                                    <div class="menu-button-icon-2 absolute bottom-2 left-2 size-7 border-b-[0.2rem] border-l-[0.2rem] border-current transition-transform ease-out" />
                                    <div class="menu-button-icon-3 absolute top-7 right-2 h-2 w-12 rotate-[-45deg] bg-current transition-[transform,opacity] ease-out" />
                                </div>
                            </div>
                            <div class="sm:hidden">
                                <Icon name="menu" size="16" />
                            </div>
                        </div>
                    </button>
                </div>

                <div
                    id="header-menu"
                    data-open="false"
                    class="bg-green right-gutter left-gutter pointer-events-auto invisible absolute top-[-0.8rem] z-[1] origin-top-right scale-x-[0.95] scale-y-[0.7] rounded-[3rem] py-70 pr-70 pl-70 text-white opacity-0 sm:left-auto sm:pr-170 lg:py-75 lg:pr-270 lg:pl-110"
                >
                    {blok.links.length && (
                        <ul class="font-space text-cta32 flex flex-col font-medium lg:text-[6.4rem]/[8.8rem]">
                            {blok.links.map((link: SbBlokData) => (
                                <li class="lg:mt-[-1rem]">
                                    <Link
                                        className="header-menu-item"
                                        link={link.link}
                                    >
                                        <div
                                            set:html={splitRoll(
                                                link.label as string,
                                            )}
                                        />
                                    </Link>
                                </li>
                            ))}
                        </ul>
                    )}
                    <LangSwitcher alternates={alternates} />
                    <svg
                        class="absolute bottom-24 left-24 size-40 lg:size-74"
                        viewBox="0 0 75 75"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M20.885 64.5a8 8 0 0 1-5.657-2.343l-2.385-2.385a8 8 0 0 1-2.343-5.657V3a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3v68.5a3 3 0 0 0 3 3H72a3 3 0 0 0 3-3v-4a3 3 0 0 0-3-3H20.885Z" />
                    </svg>
                </div>
            </div>
        )
    }
</header>

<script>
    const DIST_TO_HIDE_HEADER = 1;
    let headerIsShown = true;
    let headerIsRetracted = false;
    let st: ScrollTrigger;
    let tlOpen: gsap.core.Timeline;
    let tlClose: gsap.core.Timeline;
    let tlButtonHover: gsap.core.Timeline;
    let tlButtonUnhover: gsap.core.Timeline;
    let button: HTMLElement | null;
    let buttonWrapper: HTMLElement | null;
    let menuItems: NodeListOf<HTMLElement> | null;
    let menu: HTMLElement | null;
    let menuBtnLayers: NodeListOf<HTMLElement> | null;
    let menuBtnLayerOpen: NodeListOf<HTMLElement> | null;
    let mm: gsap.MatchMedia;

    const openMenu = () => {
        if (!menu) return;
        tlClose?.kill();
        button?.classList.add("active");
        tlOpen = gsap
            .timeline()
            .to(menu, {
                autoAlpha: 1,
                duration: 0.3,
                ease: "power3",
            })
            .to(
                menu,
                {
                    scaleY: 1,
                    scaleX: 1,
                    duration: 0.6,
                    ease: "elastic(1.2, 0.7)",
                },
                "<",
            )
            .to(
                button,
                {
                    color: "#181817",
                    duration: 0.4,
                    ease: "power3.out",
                },
                "<",
            )
            .to(
                menuBtnLayerOpen,
                {
                    "--offset": 0,
                    duration: 0.4,
                    ease: "power3.out",
                },
                "<",
            );
        menu.dataset.open = "true";
    };

    const closeMenu = () => {
        if (!menu) return;
        tlOpen?.kill();
        button?.classList.remove("active");
        tlClose = gsap
            .timeline()
            .to(menu, {
                scaleY: 0.7,
                scaleX: 0.95,
                autoAlpha: 0,
                duration: 0.1,
                ease: "power3",
            })
            .to(
                button,
                {
                    color: "#F8F7EC",
                    duration: 0.2,
                    ease: "power3.out",
                },
                "<",
            )
            .to(
                menuBtnLayerOpen,
                {
                    "--offset": 1,
                    duration: 0.2,
                    ease: "power3.out",
                },
                "<",
            );
        menu.dataset.open = "false";
    };

    const toggleMenu = () => {
        if (!menu) return;

        const open = menu.dataset.open === "true";

        if (open) {
            closeMenu();
        } else {
            openMenu();
        }
    };

    const menuItemHover = (e: MouseEvent) => {
        const target = e.target as HTMLElement | null;
        if (!target) return;

        const letters = target.querySelectorAll(".roll-letter");

        const tl = gsap.timeline().fromTo(
            letters,
            { yPercent: 0 },
            {
                yPercent: -100,
                stagger: 0.03,
                duration: 1,
                ease: "elastic(1.1, 0.9)",
            },
        );
    };

    const menuButtonHover = (e: MouseEvent) => {
        const target = e.target as HTMLElement | null;
        if (!target || !menuBtnLayers) return;
        if (tlButtonUnhover) tlButtonUnhover.kill();
        target.classList.add("hover");
        tlButtonHover = gsap.timeline().to(menuBtnLayers, {
            stagger: 0.1,
            duration: 0.4,
            "--offset": 0,
            ease: "power3.inOut",
        });
    };

    const menuButtonUnhover = () => {
        if (!button || !menuBtnLayers || !menu || menu.dataset.open === "true")
            return;
        if (tlButtonHover) tlButtonHover.kill();
        button.classList.remove("hover");
        tlButtonUnhover = gsap.timeline().to([...menuBtnLayers].reverse(), {
            stagger: 0.1,
            duration: 0.4,
            "--offset": 1,
            ease: "power3.inOut",
        });
    };

    const initButtonStates = () => {
        if (!button) return;
        button.addEventListener("mouseenter", menuButtonHover);
        button.addEventListener("mouseleave", menuButtonUnhover);
    };

    const init = () => {
        const header = document.querySelector("#layout-header");
        menu = document.querySelector("#layout-header #header-menu");

        if (!header || !menu) return;
        button = document.querySelector("#layout-header #menu-button");
        buttonWrapper = document.querySelector(
            "#layout-header #menu-button-wrapper",
        );
        menuBtnLayers = document.querySelectorAll(
            "#layout-header #menu-button .menu-btn-layers",
        );
        menuBtnLayerOpen = document.querySelectorAll(
            "#layout-header #menu-button .menu-btn-layer-open",
        );
        menuItems = document.querySelectorAll(
            "#layout-header .header-menu-item",
        );

        mm = gsap.matchMedia();

        mm.add("(width > 1024px)", () => {
            ScrollTrigger.create({
                trigger: "body",
                start: "top top",
                onUpdate: (self) => {
                    const headerIsAtTop = self.scroll() < 100;

                    if (
                        self.direction > 0 &&
                        self.scroll() > DIST_TO_HIDE_HEADER &&
                        headerIsShown
                    ) {
                        headerIsShown = false;
                        if (menu?.dataset.open === "true") {
                            closeMenu();
                            menuButtonUnhover();
                        }
                        gsap.to(buttonWrapper, {
                            y: "-11.8rem",
                            duration: 0.6,
                            opacity: 1,
                            ease: "power4.out",
                        });
                    } else if (self.direction < 0 && !headerIsShown) {
                        headerIsShown = true;
                        headerIsRetracted = headerIsAtTop ? false : true;
                        gsap.to([buttonWrapper, menu], {
                            y: headerIsRetracted ? "-3rem" : 0,
                            duration: 0.6,
                            opacity: 1,
                            ease: "power4.out",
                        });
                    } else if (
                        self.direction < 0 &&
                        headerIsShown &&
                        headerIsRetracted &&
                        headerIsAtTop
                    ) {
                        headerIsRetracted = false;
                        gsap.to([buttonWrapper, menu], {
                            y: 0,
                            duration: 0.6,
                            opacity: 1,
                            ease: "power4.out",
                        });
                    }
                },
            });
        });

        initButtonStates();

        menuItems.forEach((mi) => {
            mi.addEventListener("mouseenter", menuItemHover);
        });
        button?.addEventListener("click", toggleMenu);
        document.addEventListener("click", checkClickOutsideMenu);
    };

    const checkClickOutsideMenu = (e: MouseEvent) => {
        const target = e.target as HTMLElement | null;
        if (!target || !menu || !button) return;

        const isOutsideMenu = !menu.contains(target);
        const isOutsideButton = !button.contains(target);

        if (isOutsideMenu && isOutsideButton) {
            closeMenu();
            menuButtonUnhover();
        }
    };

    const cleanup = () => {
        mm.revert();
        button?.removeEventListener("click", toggleMenu);
        document.removeEventListener("click", checkClickOutsideMenu);
        menuItems?.forEach((mi) => {
            mi.removeEventListener("mouseenter", menuItemHover);
        });
    };

    document.addEventListener("storyblok-live-preview-updated", () => {
        cleanup();
        init();
    });

    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
    document.addEventListener("astro:page-load", () => {
        init();
    });
</script>
<style>
    #menu-button.hover {
        .menu-button-icon-1 {
            transform: translateX(0.2rem) translateY(-0.2rem);
            transition-delay: 0.2s;
        }
        .menu-button-icon-2 {
            transform: translateX(-0.2rem) translateY(0.2rem);
            transition-delay: 0.2s;
        }
        .menu-button-icon-3 {
            transform: scale(0);
            opacity: 0;
            transition-delay: 0.2s;
        }
    }
    #menu-button.active {
        .menu-button-icon-1 {
            transform: translateX(0.15rem) translateY(0.25rem) rotate(-45deg)
                scaleX(-1);
            transition-delay: 0.2s;
        }
        .menu-button-icon-2 {
            transform: translateX(-0.15rem) translateY(-0.25rem) rotate(-45deg)
                scaleX(-1);
            transition-delay: 0.2s;
        }
    }
</style>
