---
const currentPath = Astro.url.pathname;

const routes = [
    {
        slug: "/",
        name: "Home",
    },
    {
        slug: "/test",
        name: "Page",
    },
    {
        slug: "/approach",
        name: "Approach",
    },
    {
        slug: "/about",
        name: "About",
    },
];
---

<header class="fixed top-0 right-0 left-0 z-[100] px-100 py-50">
    <nav class="flex justify-end gap-20">
        {
            routes.map((r) => (
                <a class="text-[2rem]" href={r.slug}>
                    {r.name}
                </a>
            ))
        }
    </nav>
</header>
