---
import Link from "./Link.astro";

const availableLangs = ["en", "fr"];

const currentLocale = Astro.currentLocale;

const { alternates } = Astro.props;

const currentAlternates = alternates.reduce(
    (alts: { [x: string]: string }, alt: { full_slug: string }) => {
        const fullSlug = alt.full_slug;
        const altLang = fullSlug.split("/")[0];

        alts[altLang] = fullSlug;

        return alts;
    },
    {},
);
---

{
    availableLangs.length > 1 && (
        <ul
            id="lang-switcher"
            class="mt-16 flex font-black uppercase lg:text-[2rem]/[2.4rem]"
        >
            {availableLangs.map((lang) => (
                <li
                    class:list={[
                        "flex size-56 items-center justify-center rounded-full",
                        {
                            "border-3 border-white": currentLocale === lang,
                        },
                    ]}
                >
                    {lang === currentLocale ? (
                        <span>{lang}</span>
                    ) : (
                        <Link
                            className="lang-switch-link"
                            link={{
                                url: currentAlternates[lang] || `${lang}/`,
                                linktype: "story",
                                from: "langswitch",
                            }}
                        >
                            {lang}
                        </Link>
                    )}
                </li>
            ))}
        </ul>
    )
}

<script>
    const onLslClick = (e: MouseEvent) => {
        e.preventDefault();
        const target = e.target as HTMLElement | null;
        if (!target) return;
        localStorage.setItem("preventBrowserLangRedirect", "true");
        const href = target.getAttribute("href");
        if (href) {
            window.location.replace(href);
        }
    };
    const init = () => {
        const langSwitch = document.querySelector("#lang-switcher");
        if (!langSwitch) return;

        const langSwitchLinks: NodeListOf<HTMLElement> =
            langSwitch.querySelectorAll(".lang-switch-link");

        langSwitchLinks.forEach((lsl) => {
            lsl.addEventListener("click", onLslClick);
        });
    };

    const cleanup = () => {};

    document.addEventListener("astro:page-load", () => {
        init();
    });

    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
