---
import { defaultLocale } from "../../i18n/config";

const { link, className = "" } = Astro.props;

let url = link?.cached_url || link?.url || "#";
const target = link?.target || "_self";

if (link?.linktype === "story") {
    const linkLanguage = url.split("/")[0];
    url = linkLanguage === defaultLocale ? url?.replace(/^(en\/)/, "") : url;
    url = `/${url}`;
}

if (url === "") url = "/";
---

<a href={url} target={target} class:list={[className]}>
    <slot />
</a>
