---
import LogoTypo from "./LogoTypo.astro";
---

<div
    class="pointer-events-none fixed inset-0 flex items-center justify-center bg-white opacity-0"
>
    <div class="w-[30%]">
        <LogoTypo />
    </div>
</div>
