<div class="bg-orange absolute inset-0 rounded-full sm:hidden"></div>
<div
    style="transform: scale(calc(1 - var(--offset))); --offset: 1;"
    class="bg-blue menu-btn-layer-open absolute inset-0 rounded-full sm:hidden"
>
</div>
