---
import { renderRichText } from "@storyblok/astro";

interface ListItem {
    title: string;
    text: string;
}

interface Props {
    items?: ListItem[];
    className?: string;
}

const { items = [], className = "" } = Astro.props;
---

{Array.isArray(items) && items.length > 0 && (
    <ol class={`flex flex-col ${className} max-w-620 [counter-reset:section]`}>
        {items.map((item) => (
            <li class="flex items-start -mt-4 gap-16 md:gap-50 bg-white text-black py-24 pr-24 pl-15 [counter-increment:section] md:-mt-2 md:py-40 md:pr-40 md:pl-32">
                <span class="flex-none inline-flex items-center justify-center rounded-full border-2 border-current size-40 md:size-56 md:border-3 font-figtree font-16 md:font-20 font-black before:content-[counter(section,decimal-leading-zero)]">
                </span>
                <div class="flex-1 flex flex-col gap-8 md:gap-16">
                    <h4 class="text-title-4">{item.title}</h4>
                    <div class="text-p-20" set:html={renderRichText(item.text)} />
                </div>
            </li>
        ))}
    </ol>
)}