---
import { renderRichText } from "@storyblok/astro";

interface ListItem {
    title: string;
    text: string;
}

interface Props {
    items?: ListItem[];
    className?: string;
}

const { items = [], className = "" } = Astro.props;
---

{
    Array.isArray(items) && items.length > 0 && (
        <ol
            class={`flex flex-col ${className} max-w-620 gap-10 [counter-reset:section]`}
        >
            {items.map((item) => (
                <li class="-mt-4 flex items-start gap-16 bg-white py-24 pr-24 pl-15 text-black [counter-increment:section] md:-mt-2 md:gap-50 md:py-40 md:pr-40 md:pl-32">
                    <span class="font-figtree font-16 md:font-20 inline-flex size-40 flex-none items-center justify-center rounded-full border-2 border-current font-black before:content-[counter(section,decimal-leading-zero)] md:size-56 md:border-3" />
                    <div class="flex flex-1 flex-col gap-8 md:gap-16">
                        <h4 class="text-title-4">{item.title}</h4>
                        <div
                            class="text-p-20"
                            set:html={renderRichText(item.text)}
                        />
                    </div>
                </li>
            ))}
        </ol>
    )
}
